@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
span,
a,
button {
  color: white
}

label,
p,
span,
a,
button {
  font-weight: 100;
}